.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.card {
  padding: 1em;
  width: calc(25% - 4em - 2px);
  border: 1px solid black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  @media (max-width: 500px) {
    width: 100%;
  }
}

h1 {
  text-decoration: underline;
}

table {
  width: 100%;
}

.mat-raised-button {
  margin: 5px;
}
