<div>
  <img alt="human" class="humanImg" src="{{standingImage}}"/>
  <h1 class="headerTitle">Hi, {{title}}</h1>
  <h3 class="contentInfo">{{desc}}</h3>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">List Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-product" routerLinkActive="active">Create Product</a>
      </li>
    </ul>
  </div>
  <arrisca-wave-button></arrisca-wave-button>
</div>
