/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font: 400 14px/20px 'Inconsolata', sans-serif;
}

.mat-icon {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
